/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eef2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #e2dddd;
      background-color: #2c3e50;
       border: 2px solid #2c3e50;
            padding: 10px;
            border-radius: 13px;
}

.login-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.login-form input:focus {
    border-color: #007BFF;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 12px;
   background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

}

.login-form button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* ===== Responsive ===== */
@media (max-width: 480px) {
    .container {
        padding: 20px 15px;
    }

    h1 {
        font-size: 20px;
    }

    .login-form input,
    .login-form button {
        font-size: 14px;
        padding: 10px;
        
    }
}
